<center><img src="redpopcorn.jpg"></center>

**Netflix**! What started in 1997 as a DVD rental service has since exploded into one of the largest entertainment and media companies.

Given the large number of movies and series available on the platform, it is a perfect opportunity to flex your exploratory data analysis skills and dive into the entertainment industry.

You work for a production company that specializes in nostalgic styles. You want to do some research on movies released in the 1990's. You'll delve into Netflix data and perform exploratory data analysis to better understand this awesome movie decade!

You have been supplied with the dataset `netflix_data.csv`, along with the following table detailing the column names and descriptions. Feel free to experiment further after submitting!

## The data
### **netflix_data.csv**
| Column | Description |
|--------|-------------|
| `show_id` | The ID of the show |
| `type` | Type of show |
| `title` | Title of the show |
| `director` | Director of the show |
| `cast` | Cast of the show |
| `country` | Country of origin |
| `date_added` | Date added to Netflix |
| `release_year` | Year of Netflix release |
| `duration` | Duration of the show in minutes |
| `description` | Description of the show |
| `genre` | Show genre |

In [32]:
# Importing pandas and matplotlib
import pandas as pd
import matplotlib.pyplot as plt

# Read in the Netflix CSV as a DataFrame
netflix_df = pd.read_csv("netflix_data.csv")

In [33]:
# Start coding here! Use as many cells as you like

In [34]:
print(netflix_df)

     show_id  ...             genre
0         s2  ...            Dramas
1         s3  ...     Horror Movies
2         s4  ...            Action
3         s5  ...            Dramas
4         s6  ...  International TV
...      ...  ...               ...
4807   s7779  ...          Comedies
4808   s7781  ...            Dramas
4809   s7782  ...          Children
4810   s7783  ...            Dramas
4811   s7784  ...            Dramas

[4812 rows x 11 columns]

In [35]:
netflix_df.head()

  show_id  ...             genre
0      s2  ...            Dramas
1      s3  ...     Horror Movies
2      s4  ...            Action
3      s5  ...            Dramas
4      s6  ...  International TV

[5 rows x 11 columns]

## Filter the data for movies released in the 1990s

In [36]:
movies_1990s = netflix_df[(netflix_df['type'] == 'Movie') &
                        (netflix_df['release_year'] >= 1990) &
                        (netflix_df['release_year'] < 2000)]

In [37]:
movies_1990s.head()

    show_id   type  ...                                        description     genre
6        s8  Movie  ...  After one of his high school students attacks ...    Dramas
118    s167  Movie  ...  At the center of this engrossing melodrama is ...    Dramas
145    s211  Movie  ...  After a run-in with Richard Grieco, dimwits Do...  Comedies
167    s239  Movie  ...  When a philandering club promoter sets out to ...  Comedies
194    s274  Movie  ...  Raised by a kindly thief, orphaned Jimmy goes ...    Dramas

[5 rows x 11 columns]

## Convert duration to numeric

In [38]:
movies_1990s['duration'] = pd.to_numeric(movies_1990s['duration'], errors = 'coerce')
movies_1990s.describe()

       release_year    duration
count     183.00000  183.000000
mean     1995.15847  115.120219
std         2.92808   33.201959
min      1990.00000   28.000000
25%      1993.00000   94.000000
50%      1996.00000  108.000000
75%      1998.00000  136.000000
max      1999.00000  195.000000

### errors = 'coerce' ensures the numberic values in the duration column are replaced NaN during conversion

# Find the most frequent movie duration

In [39]:
duration = int(movies_1990s['duration'].mode().iloc[0])  # Save result as 'duration'
print(f"The most frequent movie duration in the 1990s: {duration} minutes")

The most frequent movie duration in the 1990s: 94 minutes

### The mode() method to find the most common values()

# Count the number of short action movies

In [40]:
short_action_movies = movies_1990s[(movies_1990s['duration'] < 90) &
                                  (movies_1990s['genre'].str.contains('Action', na = False))]
short_movie_count = short_action_movies.shape[0]

print(f"The number of short action movies released in the 1990s: {short_movie_count}")

The number of short action movies released in the 1990s: 7

### shape[0] count the number of entries (no. of row in dataframe)